<div class="sriracha-counters-container">
    <div class="button-container">
        <button 
            *ngFor="let button of buttons" 
            (click)="onClick(button)"
            mat-stroked-button color="primary"
            >
            {{button.size}} ({{button.oz}} oz)
        </button>
    </div>
    <div class="totals-container">
        <div class="total-display">You've got {{total_oz}} oz ({{total_g}} g) of Sriracha.</div>
    </div>
    <div class="results-container">
        <div>
            <p>{{total_g/5 | number : '1.0-1' }} tsp.s</p>
            <p>{{total_g/5/3 | number : '1.0-1' }} Tbspn.s</p>
        </div>
    </div>
</div>
