<div class="sriracha-counters-container">
    <div class="button-container">
        <div class="button-group" *ngFor="let button of buttons" >
            <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
                <mat-icon>add</mat-icon>
            </button>

            <button 
                (click)="onClick(button)"
                mat-stroked-button color="primary"
                >

                <!-- <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon>add</mat-icon>
                </button> -->

                <!-- <mat-icon-button *ngIf="sub" class="fade-in-out">remove</mat-icon> -->
                    {{button.size}} ({{button.oz}} oz)
                <!-- <mat-icon-button *ngIf="add" class="fade-in-out">add</mat-icon> -->
                
                <!-- <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
                    <mat-icon>remove</mat-icon>
                </button> -->
            </button>

            <button mat-icon-button matTooltip="Primary" color="primary" aria-label="Example icon-button with a heart icon">
                <mat-icon>remove</mat-icon>
            </button>
        </div>       
    </div>

    <div class="totals-container">
        <div class="total-display">You've got {{total_oz}} oz ({{total_g}} g) of Sriracha.</div>
    </div>

    <div class="results-container">
        <div class="inputs-container">
            <div><h1>If you use 1 </h1></div>

            <mat-button-toggle-group vertical="true" (change)="onUnitChange($event)" value="tsp">
                <mat-button-toggle value="tsp">
                    tsp
                </mat-button-toggle>
                <mat-button-toggle value="tbspn">
                    Tbspn
                </mat-button-toggle>
            </mat-button-toggle-group>

            <div><h1>every</h1></div>

            <mat-button-toggle-group vertical="true" (change)="onTimeChange($event)" value="week">
                <mat-button-toggle value="day">
                    day
                </mat-button-toggle>
                <mat-button-toggle value="week">
                    week
                </mat-button-toggle>
            </mat-button-toggle-group>

            <div *ngIf="selectedUnit==='tsp'">
                <h1>it will last {{tsps | number : '1.0-1' }} {{selectedTime}}s</h1>
            </div>
            <div *ngIf="selectedUnit==='tbspn'">
                <h1>it will last {{tbspns | number : '1.0-1' }} {{selectedTime}}s</h1>
            </div>
        </div>
    </div>
</div>
