<div class="fire-theme">
  <body>
    <div class="content">
      <div class="header">
        <div class="title">Sriracha Ration Calculator</div>
      </div>

      <div class= "tagline">
        Click the buttons to add how many bottles of each size you have.
      </div>

      <app-sriracha-counters></app-sriracha-counters>

      <div class="fire-theme">
        <button mat-button color="primary">primary</button>
        <button mat-button color="accent">secondary</button>
        <button mat-button color="warn">accent</button>
      </div>


      <div class="footer"></div>
    </div>
  </body>
</div>
